<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">

        <title>Mentor</title>

        <link th:href="@{/css/bootstrap.min.css}"
              rel="stylesheet" media="screen"/>

        <!-- Custom styles for this template -->
        <link rel="stylesheet" th:href="@{/css/clean-blog.min.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">

                <a class="navbar-brand" th:href="@{/home}">Mentor</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <!-- show registration only if user is not yet authenticated -->
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/registration}">Registracija</a></li>

                <!-- show login only if user is not yet authenticated -->

                    <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" th:href="@{/login}">Prisijungimas</a></li>

                <!-- show My Blog only if user is authenticated -->

                    <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" th:href="@{'/blog/' + ${#authentication.getName()}}">Mano straipsniai</a></li>

                <!-- show new post only if user is authenticated -->

                    <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" th:href="@{/newPost}">Naujas straipsnis</a></li>

                <!-- show sign out only if user is authenticated -->

                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/logout}">Atsijungti</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" th:style="'background-image:url('+ @{/css/img/home-bg.jpg}+')'">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Mentor</h1>
                        <span class="subheading">Mentorystė yra naudinga visiems</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

</body>
</html>